.App {
  text-align: center;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  box-shadow: 0px 0px 7px;
  /* background-color: rgb(10, 10, 10); */
  /* background-color: transparent; */
}
.landing {
  background-image: url("https://res.cloudinary.com/dvl38skbc/image/upload/v1685456491/bpixels/laindingmain_d7jqqx.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: zoom-in-fade 5s ease-in-out;
}
.landing2 {
  background-image: url("https://res.cloudinary.com/dvl38skbc/image/upload/v1685469290/bpixels/322181059_5730133613691167_8037204559058642872_n_dtdrt9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.portfolioButton{
transform: translateX(-50%)
}
.hrh {
  font-family: 'Cherry Bomb One', cursive;
}
.hrp{
  font-family: 'Titan One', cursive;
}
.BodyFont {
  font-family: "Roboto Slab", serif;
}
.cart{
  z-index:2000000
}
@keyframes zoom-in-fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.mobile-nav {
  overflow-y: scroll;
  background-color: white;
}
.showNav {
  transition: transform 1s ease-in-out;
  background-color: #fffafa;
}
.Cartloading-spinner {
  width: 20px;
  height: 20px;
  /* margin-top: 1rem; */
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.pizzanova{
  z-index: 2;
}
.landingPage{
  overflow: hidden;
}
.dara-slidetrack{
  display: flex;
  width: calc(100px * 20);
  animation: dara 30s linear infinite;
}
@keyframes dara {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 10));
  }
}
.dara-main {
  background-color: black;
  width: 100vw;
  height: 10vw;
  place-items: center;
  overflow: hidden;
}
.dara-slide {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 7vw;
  perspective: 100px;
  flex-direction: column;
  justify-content: center;
  height: 10vw;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 800;
  background-color: #000009;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.footer{
  background-image: url("https://res.cloudinary.com/dvl38skbc/image/upload/v1685468005/bpixels/324230249_854060389041990_4253394769706917261_n_rlni8f.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.daratype {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto;  */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
  z-index: 100000000;
  position: relative;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.head {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: scale(0);
}

.showhead {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition: all 1s;
}